:root {
    --primary-color: hwb(315 17% 7%);
    --accent-color:blueviolet;
    --light:lightblue;
    --dark:#0808b7;
    --background-color: #f0f0f0;
    --card-background-color: aquamarine;
    --text-color: #000000;
    --text-muted-color: #6B7280;
}

body {
    font-family:"helvetica", "Arial", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 16px;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

nav {
    display: flex;
    gap: 16px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 8px;
}

nav a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

main {
    padding: 32px;
    display: block;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

h2 ::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--accent-color);
    margin-top: 4px;
}   

#about {
    display: flex;
    flex-direction: column;
    gap: 48px;
}   

#about p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align:start;
}

#skills > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

#skills > div > div {
    background-color: var(--card-background-color);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#skills h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

#skills > div > div:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    background-color: #fffdfd;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#projects > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
}

.project-card {
    background-color: var(--card-background-color);
    overflow: hidden;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 16px;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
}

.project-content h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.project-content p {
    font-size: 16px;
    color: var(--text-muted-color);
    margin-bottom: 8px;
    line-height: 1.5;
}

footer {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 16px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    margin-top: 4rem;
    max-width: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.contact-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.contact-info p {
    font-size: 16px;
    color: var(--text-muted-color);
    margin-bottom: 8px;
}

address {
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

address p {
    margin: 0;
}

address a {
    color: var(--accent-color);
    text-decoration: none;
    transition: border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
    font-weight: 600;
}

address a:hover {
    border-bottom: 1px solid var(--accent-color);
}

@media (width >= 480px) {
  .collection-card {
    flex-basis: 45%;
  }
}
@media (min-width: 1024px) {
  .collection-card {
    flex-basis: 32%;
  }
}